[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nfl-data-py = "*"
scikit-learn = "*"
joblib = "*"
matplotlib = "*"
mplcursors = "*"
streamlit = "*"
xgboost = "*"
pathlib = "*"
plotly = "*"
nflreadpy = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
